/* importamos fuentes... */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.conteiner{
  /*borde*/
  border: 0.2vw solid #96969630;
  /*formato*/
  height: 50vw;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}

.header{
  margin-top: 4vh;
  border: 0.2vw solid #96969630;
  /*formato*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 172vh;
}

.titleContainer{
  /*posicion*/
  
  /*fondo*/
  background-color: #00000050;
  /*formato del bloque*/
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 50vh;
  justify-content: center;
  align-items: center;
  /*bordes*/
  border: 0.2vw solid #96969630; 
  border-radius: 2vh;
  /*espacio*/
  gap: 0vw;
  
}
.logotipo{
  margin-left: 1vw;
}
.title{
  /*texto*/
  font-size: 3.4vw;
  font-weight: 500;
  line-height: 1.2;
  /*formato*/
  text-align: left;
  margin-left: 1.5vw;
}

.ir-a-catalogo{
  border: 0.2vw solid #96969630;
  align-items: center;
  justify-content: center;
}

.icon{
  display: flex;
}

.allInfo{
  border: 0.2vw solid #96969630;
  /*formato*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 172vh;
  height: 32vw;
}

.bookImage{
  border: 0.2vw solid #7509097a;
  justify-content: left;
  align-items: center;
  /*formato-imagen*/
  background-color: #a3a5c3;

  width: 22vw;
  height: 32vw;
  
}

.bookInfo, .solicitud{
  /*formato*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  gap: 4vh;
  
}

/*
.bookInfo{
}
*/  

.solicitud{
  justify-content: flex-end;
  gap: 3vh;
}

.nombreGenero, .existencias, .intereses{
  /*formato*/
  width: 35vw;
  height: 14vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*fondo*/
  background-color: rgba(24, 24, 32, 0.4);
  /*borde*/
  border: 0.15vw solid rgba(0, 0, 0, 0.3); 
  border-radius: 2vh;
  /*texto*/
  font-size: 3vh;
}

/*botones pedir, meinteresa, devolver*/
button {
  /*formato*/
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13vh;
  width: 26vw;
  /*fondo*/
  background: linear-gradient(90deg, #75a8ff 30%, #b8d9ff);
  /*borde*/ 
  border: 0.6vh solid #b8d9ff; 
  border-radius: 1vw;
  /*texto*/
  font-family: 'Kanit', sans-serif;
  color: #2f4668;
  font-size: 2.3vh;
  /*transición de color para el hover*/
  transition: background-color 1s ease-in;
}


button:hover{
  background: linear-gradient(90deg, #75a8ff 60%, #b8d9ff);
}

/* css-página */

/*general*/
html, body{ 
  
  /* texto */
  font-family: 'Kanit', sans-serif;
  color: white;
  margin: 0;
  
  /* fondo */
  background: linear-gradient(180deg, #121219 10%, #5d5889 100%);
  
  /* formato */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  gap: 3vh;

  /*user*/
  user-select: none;
  
}

/*etiqueta h1*/
h1{
  font-weight: 400;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsBook{
  font-size: 2.3vh;
  font-weight: 400;
}

.intereses{
  font-size: 2vh;
}